<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Hours Management Program Guide</title>
    <link rel="stylesheet" href="/css/guide1.css">
</head>
<body>
    <header>
        <h1>Extra Hours Management Program Guide</h1>
        <p>Your resource for using the program effectively.</p>
    </header>
    <main>
        <section class="introduction">
            <h2>Introduction</h2>
            <p>
                Welcome to the Extra Hours Management Program! This guide is designed to help you navigate the features of the program and ensure you make the most out of it. Whether you're an administrator or a developer, you'll find valuable information here to assist you in managing extra working hours efficiently.
            </p>
        </section>
        <section class="instructions">
            <h2>Instructions or Notes</h2>
            <ol>
                <li>
                    In case you haven't registered an employee, you can do so from the first card labeled <strong>ADD EMPLOYEE</strong> or you can also do it from the left sidebar in the add employee icon.
                </li>
                <li>
                    Once the user is registered, you can edit their information and calculate their corresponding payment. To do this, please click on the card labeled <strong>EDIT HOURS</strong> or you can use this function from the left sidebar in the edit hours icon.
                </li>
                <li>
                    In the left sidebar, you can add employees, edit and calculate employee hours, and finally, you will also find the icon that provides a brief summary description of the system.
                </li>
                <li>
                    Lastly, you can find a way to LOG OUT at the top in the Log out icon.
                </li>
            </ol>
        </section>
    </main>
    <button><a href="/home">GO BACK</a></button>
</body>
</html>
