<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <main class="main-container">

        <div class="data-container">
            <h2>Welcome Back</h2>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Sign in</button>
            </form>
        </div>

        <div class="image-container">
            <img class="background-image" src="/images/BG-Login.jpg" >
            <div class="overlay-text">
                <div class="overlay-text1">
                    <p>Management Hours System</p>
                    <p>Sign in and begin managing hours</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
